@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap');
@import "tailwindcss";


.background{
    background: url("./assets/images/BG.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
}